<section id="educacion" class="edu">
    <div class="container">
      <div class="row">
      <div class="col-12">
        <h1>Educacion</h1>
        </div>
        <div class="col-3 text-center" ngFor="let edu of educacion">
          <h3>Ciencia y analisis de datos. Coder House</h3>
          <h4> 2022-2024 </h4>
          <h5>Carrera de ciencia y analisis en datos. Power bi, My sql server.</h5>
          <img src="./assets/IMG/logo coder.png" class="img-thumbnail" alt="...">
        </div>
        <div class="col-3 text-center">
          <h3>Argentina programa 4.0</h3>
          <h4>2022 - 2023</h4>
          <h5>Curso de desarrollo web Full Stack</h5>
          <img src="./assets/IMG/logo arg programa edu.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="col-3 text-center">
          <h3>Curso de marketing y publicidad</h3>
          <h4>2019 - 2020</h4>
          <h5>Marketing y publicidad para empresas. Facebook y google Ads.</h5>
          <img src="./assets/IMG/mk digital.png" class="img-thumbnail" alt="...">
          </div>
          <div class="col-3 text-center">
            <h3>Escuela secundaria. Instituto Grilli.</h3>
            <h4>2013 - 2019</h4>
            <h5>Bachiller en economia y administracion.</h5>
            <img src="./assets/IMG/logo grilli 2.png" class="img-thumbnail" alt="...">
      </div>
      </div>
    </div>
 
  </section>
