<!--Proyectos-->
<section id="proyectos" class="proyect">
    <div class="container">
      <div class="row">
      <div class="col-12">
        <h1>Mis proyectos </h1>
        </div>
        <div class="col-4 text-center">
          <h3>Argentina programa</h3>
          <h5>Portfolio Personal 2023
          
          </h5>
          
          <img src="./assets/IMG/captura portfolio.PNG" width="300px" height="175px"  alt="..." tittle="...">
          <br>
          <a href="http://127.0.0.1:5500/index.html" target="_blank">  <button type="button" class="btn btn-secondary">Ver mas</button>
          <br>
          </a>
        </div>
        <div class="col-4 text-center">
          <h3>Tienda online</h3>
          <h5>Ledha Store 2021
            
          </h5>
          <img src="./assets/IMG/ledha.jpeg"  width="300px" height="175px" alt="..."tittle="...">
         <br> 
         <a href="https://ledhastore.mitiendanube.com/" target="_blank">  <button type="button" class="btn btn-secondary">Ver mas</button>
        <br> 
        </a>
        </div>
        <div class="col-4 text-center">
          <h3>Tienda online</h3>
          <h5>Athenea bags 2023
          </h5>
          <img src="./assets/IMG/athenea.jpeg" width="300px" height="175px"  alt="..." tittle="...">
          <br>
          <a href="https://atheneabags.mitiendanube.com/" target="_blank">  <button type="button" class="btn btn-secondary">Ver mas</button>
          <br>
          </a>
        </div>
      </div>
    </div> 
  </section>
