<section id="Hard y soft skills" class="skills">
    <div class="container">
      <div class="row">
      <div class="col-12">
        <h1>Hard y soft skills </h1>
        </div>
  <div class="caja-padre">
    <div class="container text-center">
      <h3> Mis habilidades </h3>
      <div class="skills">
        <div class="detalles">
          <span>HTML</span>
          <span>90%</span>
        </div>
        <div class="menu">
          <div id="html-menu">
          </div>
        </div>
      </div>
      <div class="skills">
        <div class="detalles">
          <span>CSS</span>
          <span>75%</span>
        </div>
        <div class="menu">
          <div id="css-menu"> </div>
    </div>
  </div>
  <div class="skills">
    <div class="detalles">
      <span>Javascript</span>
      <span>75%</span>
    </div>
    <div class="menu">
      <div id="js-menu"> </div>
  </div>
  </div>
  <div class="skills">
    <div class="detalles">
      <span>Typescript</span>
      <span>80%</span>
    </div>
    <div class="menu">
      <div id="typescript-menu"> </div>
  </div>
  </div>
  <div class="skills">
    <div class="detalles">
      <span>Angular</span>
      <span>75%</span>
    </div>
    <div class="menu">
      <div id="angular-menu"> 
      </div>
  </div>
  </div>
  <div class="skills">
  <div class="detalles">
    <span>Habilidades blandas - Trabajo en equipo</span>
    <span>90%</span>
  </div>
  <div class="menu">
    <div id="equipo-menu"> 
    </div>
  </div>
  </div>
  <div class="skills">
  <div class="detalles">
    <span>Habilidades blandas - Multitasking</span>
    <span>90%</span>
  </div>
  <div class="menu">
    <div id="multi-menu"> 
    </div>
  </div>
  </div>
  <div class="skills">
    <div class="detalles">
      <span>Habilidades blandas - Liderazgo</span>
      <span>80%</span>
    </div>
    <div class="menu">
      <div id="lid-menu"> 
      </div>
    </div>
    </div>
  <div class="detalles">
    <span>Habilidades blandas - Comunicacion </span>
    <span>80%</span>
  </div>
  <div class="menu">
    <div id="comu-menu"> 
    </div>
  </div>
  </div>
