<div class="tab-pane fade" id="v-pills-la" role="tabpanel" aria-labelledby="v-pills-la-tab" tabindex="0">
    <h4 class="text-center">Mis proyectos</h4>
    <div class="mb-3">
      <div class="row">
    <label for="formFileSm" class="form-label">Foto del proyecto </label>
      <input class="form-control form-control-sm" id="formFileSm" type="file"> 
  </div>
  <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-warning">Actualizar</button>
</div>
      <div class="mb-3">
        <div class="row">
        <label for="formFileSm" class="form-label"> Nombre y fecha del proyecto </label>
        <input class="form-control form-control-sm" id="formFileSm" type="text"> 
      </div>
      <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-warning">Actualizar</button>
    </div>
    <div class="mb-3">
      <div class="row">
      <label for="formFileSm" class="form-label">Descripcion del proyecto </label>
      <input class="form-control form-control-sm" id="formFileSm" type="text"> 
    </div>
    <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-warning">Actualizar</button>
  </div>
    <div class="mb-3">
      <div class="row">
      <label for="formFileSm" class="form-label">Link al proyecto</label>
      <input class="form-control form-control-sm" id="formFileSm" type="text"> 
    </div>
    <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-warning">Actualizar</button>
  </div> 
</div>
