.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
    i.fa.brands.fa-whatsapp.fa-xl:hover{
        color: rgb(78, 214, 60);
    }
    i.fa.brands.fa-instagram.fa-xl:hover{
        color: rgb(212, 51, 78);
    }
    i.fa.brands.fa-linkedin.fa-xl:hover{
        color: rgb(76, 123, 226);
    }
    i.fa.solid.fa-user.fa-xl:hover {
  color: rgb(205, 231, 55);
    }
    i.fa.solid.fa-user-lock.fa-xl:hover {
        color: rgb(205, 231, 55);
            }
    .list-group {
    --bs-list-group-bg: transparent;
    }
    section.about{
        margin-top: 5rem;
  
    }
    
    section.exp{
        margin-top: 5rem;
    }
  
    section.skills{
        margin-top: 5rem;
    }
    
    section.proyect{
        margin-top: 5rem;
    }
  body {
  background-color: #fff;
  }
  h3 {
    color: #1A8DB4;
  }
  
  h1 {
    color: #47526b;
  }
  section.edu{
    margin-top: 5rem;
  }
  
  .column {
    display: grid;
    gap: 0.5em;
  }
  
  
  