<div class="container-fluid">
<ul class="list-group list-group-horizontal">
    <a href="https://www.instagram.com/nayfarina_/" target="_blank"> 
    <li class="list-group-item"><i class="fa brands fa-instagram fa-xl"></i></li> </a>
   <a href="https://ar.linkedin.com/in/nayra-fari%C3%B1a-8259a6195" target="_blank"> <li class="list-group-item"><i class="fa brands fa-linkedin fa-xl"></i> </li> </a>
   <a href="https://api.whatsapp.com/send/?phone=541160454486&text&type=phone_number&app_absent=0" target="_blank">
   <li class="list-group-item"><i class="fa brands fa-whatsapp fa-xl"></i> </li> </a> 
    <!-- Button trigger modal -->
    <li class="list-group-item">
     <a routerLink="/login"><i class="fa solid fa-user-lock fa-xl"> </i></a>
</li>
</ul>
</div>