<!--Experiencia-->
<section id="experiencia" class="exp">
    <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Experiencia laboral</h1>
        </div>
        <div class="col-6 text-center">
        <h3>Ledha Store</h3>
        <h4>2019 - actualidad</h4>
        <h5>Emprendimiento personal en el cual realizo tareas de logistica, atencion al cliente, estrategias de publicidad y marketing, manejo de redes sociales y desarrollo de pagina web.</h5>
      </div>
        <div class="col-6 text-center">
          <h3>Freelance</h3>
          <h4>2019 - actualidad</h4>
          <h5>Administracion y crecion de tienda online, estrategias de marketing y publicidad, gestion y creacion de las campañas publicitarias con Facebook Ads.</h5>
        </div>
      </div>
      </div>

  
  </section>

  
