<div class="tab-pane fade" id="v-pills-exp" role="tabpanel" aria-labelledby="v-pills-exp-tab" tabindex="0">
    <h4 class="text-center">Experiencia laboral</h4>
    <div class="mb-3">
      <div class="row">
    <label for="formFileSm" class="form-label">Logo de la empresa </label>
      <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div> 
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger">Eliminar</button>
      <button type="button" class="btn btn-warning">Actualizar</button>
  
</div>
      <div class="mb-3">
        <div class="row">
        <label for="formFileSm" class="form-label">Titulo del puesto </label>
        <input class="form-control form-control-sm" id="formFileSm" type="text"> 
      </div>
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger">Eliminar</button>
      <button type="button" class="btn btn-warning">Actualizar</button>
    </div>
    <div class="mb-3">
      <div class="row">
      <label for="formFileSm" class="form-label">Periodo </label>
      <input class="form-control form-control-sm" id="formFileSm" type="text"> 
    </div>
    <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-danger">Eliminar</button>
    <button type="button" class="btn btn-warning">Actualizar</button>
  </div>
    <div class="mb-3">
      <div class="row">
      <label for="formFileSm" class="form-label">Descripcion del puesto</label>
      <input class="form-control form-control-sm" id="formFileSm" type="text"> 
    </div>
    <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-danger">Eliminar</button>
    <button type="button" class="btn btn-warning">Actualizar</button>
  </div>
</div>
